@import url('https://fonts.googleapis.com/css2?family=Spoqa+Han+Sans+Neo:wght@400;500;700&display=swap');
body {
  	margin: 0; line-height: normal;
}

.div {
  position: relative;
  line-height: 22px;
}
.iconmemo {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text {
  align-self: stretch;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 16px;
  gap: 8px;
}
.icon {
  align-self: stretch;
  width: 32px;
  position: relative;
  border-radius: 0px 2px 2px 0px;
  max-height: 100%;
}
.dropdownTriggerbox {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.85);
}
.group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.b {
  position: relative;
  line-height: 28px;
}
.icondowncircle {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.textGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
}
.header {
  align-self: stretch;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px;
  gap: 8px;
  color: rgba(0, 0, 0, 0.45);
}
.b1 {
  position: relative;
  line-height: 24px;
}
.iconcalendarsearch {
  width: 14px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.div1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.iconcalendarsearchParent {
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 8px;
  gap: 4px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.graphIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 70px;
}
.n {
  position: relative;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
}
.textGroup2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.div3 {
  position: relative;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.45);
}
.textGroup1 {
  position: absolute;
  bottom: -0.5px;
  left: calc(50% - 23.75px);
  width: 47.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.graph {
  width: 140px;
  position: relative;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.heightIcon {
  width: 0px;
  height: 6px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.widthChild {
  width: 0px;
  position: relative;
  height: 0px;
}
.width {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.statusDot {
  border-radius: 10px;
  background-color: #52c41a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div5 {
  width: 8px;
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20px;
  flex-shrink: 0;
}
.badge {
  border-radius: 10px;
  background-color: #f0f0f0;
  height: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
  box-sizing: border-box;
  text-align: center;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.statusDot1 {
  border-radius: 33px;
  background-color: #faad14;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.statusDot2 {
  border-radius: 10px;
  background-color: #595959;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 6px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.content {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  color: #bfbfbf;
}
.card {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px 24px;
  gap: 24px;
}
.icondown {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.iconright {
  width: 10px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.b3 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
}
.box {
  align-self: stretch;
  flex: 1;
  border-radius: 6px;
  background-color: #fffae0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 12px;
  gap: 0px;
}
.box1 {
  align-self: stretch;
  flex: 1;
  border-radius: 6px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 12px;
  gap: 0px;
}
.content1 {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.b6 {
  position: relative;
  line-height: 26px;
}
.div14 {
  position: relative;
  font-size: 13px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.45);
}
.textGroup6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.bar {
  width: 120.3px;
  position: relative;
  background-color: #52c41a;
  height: 8px;
}
.bar1 {
  flex: 1;
  position: relative;
  background-color: #faad14;
  height: 8px;
}
.bar2 {
  flex: 1;
  position: relative;
  background-color: #ff4d4f;
  height: 8px;
}
.graph1 {
  align-self: stretch;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.statusDot5 {
  border-radius: 10px;
  background-color: #ff4d4f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelGroup1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
}
.group1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.content2 {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
  font-size: 18px;
}
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
.box2 {
  align-self: stretch;
  flex: 1;
  border-radius: 6px;
  background-color: #fff1f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 12px;
  gap: 0px;
}
.b10 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  color: #bfbfbf;
  text-align: right;
}
.box4 {
  align-self: stretch;
  flex: 1;
  border-radius: 6px;
  background-color: #e6f7ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 12px;
  gap: 0px;
}
.content3 {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
  gap: 10px;
  font-size: 16px;
}
.tab1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
}
.ink {
  align-self: stretch;
  position: relative;
  border-top: 2px solid rgba(0, 0, 0, 0.85);
  box-sizing: border-box;
  height: 0px;
}
.componenttab {
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tab2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
}
.componenttab1 {
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.tab {
  align-self: stretch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 24px;
  gap: 32px;
}
.div27 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.divider {
  width: 1px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  height: 16px;
}
.statusDot9 {
  border-radius: 33px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.unitStatus2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  color: #bfbfbf;
}
.ceohostOperationunitState {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 16px;
  gap: 12px;
}
.iconappstore {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.tabItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.tabItem1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  color: rgba(0, 0, 0, 0.45);
}
.dropdownTriggerbox1 {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.group3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
}
.group2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0px;
}
.b12 {
  position: relative;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.iconright3 {
  width: 12px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.value {
  position: relative;
  line-height: 20px;
}
.divider3 {
  width: 1px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  height: 10px;
}
.textGroup10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.title4 {
  align-self: stretch;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div32 {
  width: 115px;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
  flex-shrink: 0;
}
.yymmdd {
  position: relative;
  line-height: 21px;
}
.nn {
  position: relative;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #389e0d;
}
.textGroup11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.45);
}
.group4 {
  flex: 1;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 16px;
  gap: 4px;
}
.list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}
.card4 {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 24px 24px;
  gap: 16px;
}
.list1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
}
.div35 {
  width: 104px;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
  flex-shrink: 0;
}
.group7 {
  width: 160px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 16px;
  box-sizing: border-box;
  gap: 4px;
}
.card6 {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px 24px;
  gap: 16px;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.div39 {
  position: relative;
  text-decoration: underline;
  line-height: 21px;
}
.button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 13px;
  color: #bfbfbf;
}
.list3 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #f5f5f5;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 24px;
  box-sizing: border-box;
  gap: 2px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.textGroup20 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag {
  border-radius: 4px;
  background-color: #fffae0;
  border: 1px solid #ffe58f;
  box-sizing: border-box;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 6px;
  gap: 2px;
}
.tagWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #d48806;
}
.title12 {
  align-self: stretch;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.content4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
}
.section1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
  gap: 16px;
}
.allFrame {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Spoqa Han Sans Neo';
}

